In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!pip install mysql-connector-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.7/dist-packages (8.0.30)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf<=3.20.1,>=3.11.0->mysql-connector-python) (1.15.0)

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

In [ ]:
#importing milk data
data = pd.read_csv("/content/drive/MyDrive/milknew.csv")

In [ ]:
data.head()

    pH  Temprature  Taste  Odor  Fat   Turbidity  Colour   Grade
0  6.6          35      0     0     1          0     254    high
1  6.6          36      0     0     0          1     253    high
2  8.5          70      0     0     1          1     246     low
3  9.5          34      0     0     0          1     255     low
4  6.6          37      0     0     0          0     255  medium

In [ ]:
#print("\nThe Milk dataset:\n")
#print (data.head())

y = data.Grade
X = data.drop('Grade', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.1)

In [ ]:
model =RandomForestClassifier()

# model = tree.DecisionTreeClassifier()
model.fit(X_train, y_train)

confidence = model.score(X_test, y_test)
print("\nThe confidence score:\n")
print(confidence)

The confidence score:

1.0

In [ ]:
#predicting the forcasts
y_pred = model.predict(X_test)

x=np.array(y_pred).tolist()

#printing first 5 predictions
print("\nThe prediction:\n")
for i in range(0,5):
    print (x[i])
    
#printing first five expectations
print("\nThe expectation:\n")
print (y_test.head())

The prediction:

low
high
high
low
medium

The expectation:

599       low
833      high
780      high
520       low
181    medium
Name: Grade, dtype: object

In [ ]:
data.head()

    pH  Temprature  Taste  Odor  Fat   Turbidity  Colour   Grade
0  6.6          35      0     0     1          0     254    high
1  6.6          36      0     0     0          1     253    high
2  8.5          70      0     0     1          1     246     low
3  9.5          34      0     0     0          1     255     low
4  6.6          37      0     0     0          0     255  medium

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host=" sql6.freesqldatabase.com",
  user="sql6522246",
  password="q5d5t7T2Da",
  database="sql6522246"
)

mycursor = mydb.cursor()

#mycursor.execute("SELECT *FROM test ORDER BY id DESC LIMIT 1")

#myresult = mycursor.fetchall()

mycursor.execute("SELECT mobilenumber FROM Milkquality ORDER BY id DESC LIMIT 1")
z = mycursor.fetchall()
#print(type(ph))
a=z[0]
#print(type(a))
b=a[0]
id=b
print(id)

mycursor.execute("SELECT phvalue FROM Milk ORDER BY id DESC LIMIT 1")
ph = mycursor.fetchall()
#print(type(ph))
a=ph[0]
#print(type(a))
b=a[0]
#print(type(b))
ph=float(b)

print(ph)

mycursor.execute("SELECT temperature FROM Milk ORDER BY id DESC LIMIT 1")
z = mycursor.fetchall()
#print(type(ph))
a=z[0]
#print(type(a))
b=a[0]
temprature=b
print(temprature)

mycursor.execute("SELECT fat FROM Milk ORDER BY id DESC LIMIT 1")
z = mycursor.fetchall()
#print(type(ph))
a=z[0]
#print(type(a))
b=a[0]
fat=b

print(fat)

mycursor.execute("SELECT turbidity FROM Milk ORDER BY id DESC LIMIT 1")
z = mycursor.fetchall()
#print(type(ph))
a=z[0]
#print(type(a))
b=a[0]
Turbidity=b

print(Turbidity)

mycursor.execute("SELECT coloursensor FROM Milk ORDER BY id DESC LIMIT 1")
z = mycursor.fetchall()
#print(type(ph))
a=z[0]
#print(type(a))
b=a[0]
colour=b

print(colour)






#for x in myresult:
#  print(x)

In [ ]:
a=ph
b=temprature
c=0
d=0
e=fat
f=Turbidity
g=colour
#a=float(input("a"))
#b=int(input("b"))
#c=int(input("c"))
#d=int(input("d"))
#e=int(input("e"))
#f=int(input("f"))
#g=int(input("g"))
# initialize list of lists
data = [a,b,c,d,e,f,g]
  
# Create the pandas DataFrame
data={'pH':[a],	'Temprature':[b],	'Taste':[c],	'Odor':[d],	'Fat':[e],	'Turbidity':[f],	'Colour':[g]}
df = pd.DataFrame(data)
  
# print dataframe.
df

NameError: ignored

In [ ]:
def high():
  import mysql.connector
  mydb = mysql.connector.connect(
    host="sql6.freesqldatabase.com",
    user="sql6515146",
    password="Mf8ec6w62Q",
    database="sql6515146"
  )


  mycursor = mydb.cursor()

  sql = ("UPDATE Milk SET grade = 'A' WHERE id = '%s'"%id)

  mycursor.execute(sql)

  mydb.commit()
  print(mycursor.rowcount, "record(s) affected")

In [ ]:
def low():
  import mysql.connector
  mydb = mysql.connector.connect(
    host="sql6.freesqldatabase.com",
    user="sql6515146",
    password="Mf8ec6w62Q",
    database="sql6515146"
  )

  mycursor = mydb.cursor()

  sql = ("UPDATE Milk SET grade = 'C' WHERE id = '%s'"%id)

  mycursor.execute(sql)

  mydb.commit()
  print(mycursor.rowcount, "record(s) affected")

In [ ]:
def medium():
  import mysql.connector
  mydb = mysql.connector.connect(
    host="sql6.freesqldatabase.com",
    user="sql6515146",
    password="Mf8ec6w62Q",
    database="sql6515146"
  )

  mycursor = mydb.cursor()

  sql = ("UPDATE Milk SET grade = 'B' WHERE id = '%s'"%id)

  mycursor.execute(sql)

  mydb.commit()
  print(mycursor.rowcount, "record(s) affected")

In [ ]:
#predicting the forcasts
y_pred = model.predict(df)

x=np.array(y_pred).tolist()

#printing first 5 predictions
print("\nThe prediction:\n",*x)   

if x[0] in ['high']:
  print("high")
  high()

if x[0] in ['low']:
  low()

if x[0] in ['medium']:
  medium()